# Ignoreexact file
**/wp-config.php

# Ignore the entire directory
**/_dist/
**/node_modules/

# Composer
**/vendor/
**/composer.lock

# InstaWP Related
.htaccess
license.txt
readme.html
robots.txt
**/wp-content/themes/wp2/parts/
**/wp-content/themes/wp2/templates/
wp-content/debug.log
